main {
    background-color: beige;
    background-image:
    url(../assets/Img/Background.svg);
    background-size: cover;
    
    .container {
        height:5em;
    }
    
}
footer {
    margin: 0;
}