@font-face {
    font-family: 'Graphik';
    src: url(../../../assets/fonts/Graphik\ Family/Graphik-Regular-Trial.otf) format('opentype');
}

.container-artisans {
    background-color: white;
    border-radius: 2.5rem;
    padding-bottom: 1rem;
    .container-about {
        background-color: #f1f8fc;
        border-radius: 2.5rem;
        padding: 1rem;
    }
    .btn {
        border-radius: 1.5rem;
    }
}