<!-- Explications des étapes pour la recherche d'un artisan -->
<div class="container_step container-fluid">
  <h1 class="text-center">Trouve ton artisan !</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Etape 1</h5>
              <p class="card-text text-center">Choississez la catégorie d'artisanat qui vous intéresse.</p>
            </div>
            <img src="../../../assets/Img/Accueil/Etape1.svg" alt="Images de différents corps de métiers avec un point d'interrogation, illustrant la recherche d'un artisan">
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Etape 2</h5>
              <p class="card-text text-center">Faites votre choix parmi les artisans de notre liste</p>
            </div>
            <img src="../../../assets/Img/Accueil/Etape2.svg" alt="Validation de l'artisan illustré">
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Etape 3 </h5>
              <p class="card-text text-center">Contacter l'artisan via notre formulaire de contact</p>
            </div>
            <img src="../../../assets/Img/Accueil/Etape3.svg" alt="Illustration de formulaire de contact">
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Etape 4</h5>
              <p class="card-text text-center">Une réponse sous 48 heures vous sera apporté. </p>
            </div>
            <img src="../../../assets/Img/Accueil/Etape4.svg" alt="Illustration d'une horloge indiquant 48 heures">
          </div>
        </div>
      </div>
</div>

<app-toptrois></app-toptrois>